@charset "shift_jis";

*, ::before, ::after{box-sizing: border-box;}
:root{font-size: 10px;}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-size-adjust: 100%;background-color: #f7f7f7;}
body{font-size: 1.4rem;line-height: 1.5;color: #242323;font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", Meiryo, sans-serif;overflow-wrap: break-word; /* polifill */overflow-wrap: anywhere;}
a:link,a:visited{color:#3895ff;text-decoration:none;}
a:hover,a:active{color:#71b3ff;text-decoration:underline;}

.dn{display:none !important;}
.mt-16{margin-top:16px;}
.mt-24{margin-top:24px;}

/*#bodyWrapper*/
#bodyWrapper{margin:0;padding:0;}

/*#hdrContainer*/
#hdrContainer{width:100%;top:0;background:#fff;}
#hdrContainer .hdrLR{display:flex;justify-content:space-between;padding:14px 16px;-webkit-box-shadow:0 -1px 0 0 #eee inset;box-shadow:0 -1px 0 0 #eee inset;}
#hdrContainer .hdrL img{width:auto;height:32px;}
#hdrContainer .hdrL a{display:block;}
#hdrContainer .hdrR{padding:6px 0;}
#hdrContainer .hdrR .faq{display:block;}
#hdrContainer .hdrR .logout{display:none;}

/*sub header*/
#hdrSub{padding:0 16px;}
#breadCrumb{font-size:1.2rem;position:relative;padding:8px 0;}

/*#container*/
#container{overflow:hidden;}

/*title*/
.titleL{background-color:#f7f7f7;padding:24px 16px;line-height:1.0;}
.titleL h1{font-weight:bold;text-align:center;font-size:1.8rem;}
.titleR{text-align:right;font-size:1.2rem;padding:16px 16px 0 0;background-color:#fff;}
.titleC{padding:24px 16px;line-height:1.0;}
.titleC h1{text-align:center;font-weight:bold;font-size:1.8rem;}
/*contents*/
.contents{margin-bottom:16px; background-color:#fff;}
.contents.compArea{padding-top:0;padding-bottom:20px;}
.contents.compArea .blk:first-child > .blkCont{padding-top:0;}
.contents.compArea .blk:last-of-type{margin-bottom:60px;}
.contents.compArea .blk + .chkCont{margin-top:60px;}
.contents.compArea .chkCont{margin-bottom:15px;}
.contents.compArea .chkCont #infoCheck{display:none;}
.contents.compArea .chkCont > label{position:relative;padding:2px 30px;cursor:pointer;}
.contents.compArea .chkCont > label::before{width:8px;height:12px;top:3px;left:6px;z-index:3;}
.contents.compArea .chkCont > label::before,
.contents.compArea .chkCont > label::after{content:"";position:absolute;display:block;}
.contents.compArea .chkCont > label::after{top:0;left:0;width:20px;height:20px;border:1px solid #aaa;border-radius:4px;background:#fff;z-index:1;}
.contents.compArea .chkCont #infoCheck:checked + label::before{border:2px solid #fff;border-width:0 3px 3px 0;border-radius:3px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.contents.compArea .chkCont #infoCheck:checked + label::after{background:#3895ff;border-color:#3895ff;}
.contents.compArea .btnCont{margin-bottom:15px;}
.contents.compArea .btnCont .btn-enable{padding:0;border:none;background:transparent;}

/*block*/
.blk{padding:0 16px;}
.blkTitle{padding:16px 0 0;position:relative;background:#fff;display:flex;justify-content: space-between;}
.blkTitleR{width:100%;margin:3px 0 -10px 0;text-align:right;font-size:1.4rem;white-space:nowrap;}
.blkTitleOc .ocDown::before,.blkTitleOc .ocUp::before{right:0.8em;top:0.7em;}
.blkTitleOc .ocDown::after,.blkTitleOc .ocUp::after{right:1.2em;}
.blkTitleOc .ocDown::after{top:1.3em;}
.blkTitleOc .ocUp::after{top:0.8em;}

.h201{font-size:1.6rem;font-weight:bold;white-space:nowrap;}
.h301{font-size:1.4rem;font-weight:bold;}

.blkCont{padding:16px 0;}
.blkCont+.blkCont{padding-top:0;}
.blkCont.layout-form{padding:16px 24px;}
.blkCont.layout-form.layout-form-normal{padding-left: 8px; padding-right: 8px;}
.blkCont.layout-form.layout-form-login.layout-form-login-noborder{padding: 16px 0;}
/*.blkCont. table{width:auto;}*/

.compDescription{position:relative;text-align:center;padding-top:136px;font-weight:bold;}
.compDescriptionIcon::after{position:absolute;content:"";display:block;border:1px solid #20bf7a;border-radius:50%;z-index:2;top:30px;left:50%;margin-left:-38px;width:76px;height:76px;}
.compDescriptionIcon::before{content:"";position:absolute;top:48px;left:50%;margin-left:-10px;display:block;width:20px;height:30px;z-index:3;border:2px solid #20bf7a;border-width:0 3px 3px 0;border-radius:3px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}

/*text-align*/
.txtL{text-align:left;}
.txtC{text-align:center;}
.txtR{text-align:right;}

/*font*/
.fBold{font-weight:bold;}
.nw{white-space:nowrap;}

/*individual link not window open nor target blank*/
.winOpen::after,
.notWinOpen::after{content:"";display: inline-block;width:7px;height:12px;margin:0 0 0 12px;background:transparent url(/commontpl/images/ic_link001.svg) no-repeat center center;background-size:contain;position:relative;top:1px;}
.linkInCont::after{display:none;}

/*link-icon- */
a [class*="link-icon-"]::before{content: "";display: inline-block;width: 16px;height: 16px;margin-top: -.2em;margin-right: .75em;background-repeat: no-repeat;background-position: center center;background-size: contain;vertical-align: middle;}
a .link-icon-pdf::before{background-image: url(/commontpl/images/ic_pdf.svg);}

/*arw*/
.arw::after{content:"";display:inline-block;width:7px;height:12px;margin:0 0 0 12px;background:transparent url(/commontpl/images/ic_link001.svg) no-repeat center center;background-size:contain;position:relative;top:2px;}
.arwDown::after{transform:rotate(90deg);}
.arwUp::after{transform:rotate(-90deg);}

/*text indent*/
.txtIndent{padding-left:1.0em;text-indent:-1.0em;}

/*step*/
.stepWrap{position:relative;padding:16px 24px;}
.step{display:flex;position:relative;margin:0 auto;justify-content:space-between;}
.step::after{content:"";display:block;z-index:1;background-color:#ddd;width:calc(100% - 32px);position:absolute;height:2px;top:50%;left:16px;margin-top: -1px;}
.stepItem{font-weight:bold; width:32px; position:relative;}
.stepItem::before{content:"";display:block;z-index:3;background-color:#ddd;width:8px;height:8px;position:absolute;border-radius:50%;top:50%;margin-top:-4px;left:50%;margin-left:-4px;}
.stepItem span{display:none;}
.stepItem-active{color:#3895ff;}
.stepItem-active::before{content:"";display:block;z-index:3;background-color:#3895ff;width:32px;height:32px;position:absolute;border-radius:50%;top:50%;margin-top:-16px;left:0;margin-left:0;opacity: 0.21;}
.stepItem-active::after{content:"";display:block;z-index:3;background-color:#3895ff;width:24px;height:24px;position:absolute;border-radius:50%;top:50%;margin-top:-12px;left:4px;}
.stepItem-active span{display:block; color:#fff; line-height:32px; position:relative; z-index:4; text-align:center;}
.stepItem-past::before{background-color:#3895ff;}
.stepItem-past::after{content:"";display:block;z-index:2;background-color:#3895ff;position:absolute;height:2px;top:50%;left:16px;margin-top: -1px;}
.step-comp::before{content:"";display:block;z-index:2;background-color:#3895ff;width:232px;position:absolute;height:2px;top:10px;left:6px;}

/*icon for required object*/
.reqIcon{display:inline-block;margin:0 16px 0 0;padding:0 12px;background:#fd5c5c;border-radius:15px;letter-spacing:0.1em;line-height:30px;font-weight:bold;font-size:1.4rem;color:#fff;}
/*caution message area*/
.caution{border-radius:8px;border:1px solid #fd5c5c;padding:16px;background-color:#ffe5e5;color:#fd5c5c;font-weight:bold;}
/*note message area*/
.note{border-radius:8px;border:1px solid #f4cf00;padding:16px 16px 16px 47px;background-color:#fff7e5;background-image:url(/commontpl/images/ic_attention.svg);background-repeat:no-repeat;background-position:16px 16px;background-size:18px 18px;}


/*------Buttons------*/
.btn{-webkit-appearance: none;appearance:none;font-size:1.4rem;line-height:42px;font-weight: bold;text-align:center;display:inline-block;padding:0 16px;border-radius:8px;border:solid 1px #3895ff;min-height:44px;margin-bottom:24px;}
.btn:last-of-type{margin-bottom:0;}
.btn:hover{opacity:0.7; cursor:pointer;}
.btn:link{text-decoration:none;}
.btnL{width:100%;display: block;}
.btnS{font-size: 1.2rem;line-height:30px;min-height:32px;}

a.btn{color:#fff;}
a.btn02,
a.btn03{color:#3895ff;}
a.btnDisabled{color:#bababa;}
/*Primary*/
.btn01{color:#fff;background-color:#3895ff;}
.btn.btn01:hover,
.btn.btn01:active{background-color:#71b3ff;border-color:#71b3ff;color:rgba(255,255,255,0.7);}
/*Secondary*/
.btn02{color:#3895ff;background-color:#fff;}
.btn.btn02:hover,
.btn.btn02:active{background-color:#f2f2f2;border-color:#3286e5;color:rgba(56,149,255,0.7);}
/*Tertiary*/
.btn03{color:#3895ff;background-color:#fff; border-color:transparent;}
.btn.btn03:hover,
.btn.btn03:active{color:rgba(56,149,255,0.7);}
/*Alert*/
.btn04{color:#fff;background-color:#fd5c5c;border-color:#fd5c5c;}
.btn.btn04:hover,
.btn.btn04:active{background-color:#e35353;border-color:#e35353;color:rgba(255,255,255,0.7);}
/*Disabled*/
.btnDisabled{color:#bababa;background-color:#eee;border-color:#eee;}
.btn.btnDisabled:hover,
.btn.btnDisabled:active{color:#bababa;background-color:#eee;border-color:#eee;}
/*Disabled*/
.btn:disabled{color:#bababa;background-color:#eee;border-color:#eee;opacity:1;cursor:default;}
.btn:disabled:hover,
.btn:disabled:active{background-color:#eee;border-color:#eee;color:rgba(186,186,186,1);opacity:1;}
/*------/Buttons------*/


/*------Form------*/
.layout-form .login-number-wrap{display:flex;justify-content:space-between;}
.layout-form .wrap-input{margin-bottom:36px;}
.layout-form .wrap-input:last-of-type{margin-bottom:0;}
.layout-form .input-num3{width:30%;}
.layout-form .input-num7{width:calc(70% - 16px); margin-left:16px;}
.layout-form-buttom{/*margin:16px 0 0;*/}
.layout-form .wrap-input-pw,
.layout-form .wrap-input-pin{position: relative;}
.layout-form .wrap-input-pw .visualization,
.layout-form .wrap-input-pin .visualization{width: 20px; height: 20px; display: inline-block; margin-left: -20px; position: absolute;}
.layout-form .wrap-input-pw [type=text]+.visualization,
.layout-form .wrap-input-pin [type=text]+.visualization{background:transparent url(/commontpl/images/ic_visual001.svg) no-repeat center center; background-size:contain;}
.layout-form .wrap-input-pw [type=password]+.visualization,
.layout-form .wrap-input-pin [type=password]+.visualization{background:transparent url(/commontpl/images/ic_visual002.svg) no-repeat center center;background-size:contain;}

.layout-form select::-ms-expand{display:none;}
.layout-form select{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:solid 1px #bababa;border-radius:8px;padding:0 32px 0 8px;line-height:38px;font-size:1.6rem;margin-right:4px;margin-bottom:4px;}

.wrap-label-list{border-top:solid 1px #eee;}
.wrap-label-list li{border-bottom:solid 1px #eee; padding:2px 0;}
.wrap-label-list li label{display:block;padding:14px 16px;}
.label-checkbox{position:relative;cursor: pointer;}
.label-checkbox::before{content:'';position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;z-index:1;background-color:#fff;}
.label-checkbox input[type=checkbox]{-webkit-appearance:none;appearance:none;cursor:pointer;display:inline-block;position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;z-index:0;margin:0;border-radius: 0;border:none;padding:0;}
.label-checkbox input[type=checkbox]+span{position:relative;padding-left:32px;display:inline-block;z-index:1;}
.label-checkbox input[type=checkbox]+span::before{content: '';background-color: #fff;border: 1px solid #3895ff;display: block;height: 20px;left: 0;margin-top: -10px;position: absolute;top: 50%;width: 20px;}
.label-checkbox input[type=checkbox]+span::after{content: '';border-right: 2px solid #fff;border-bottom: 2px solid #fff;display: block;height: 9px;left: 8px;margin-top: -5px;opacity: 0;position: absolute;top: 50%;transform: rotate(45deg);width: 5px;}
.label-checkbox input[type=checkbox]:checked+span::before{background-color:#3895ff;}
.label-checkbox input[type=checkbox]:checked+span::after{opacity: 1;}

.label-radio{position:relative;cursor: pointer;}
.label-radio::before{content:'';position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;z-index:1;background-color:#fff;}
.label-radio input[type=radio]{-webkit-appearance:none;appearance:none;cursor:pointer;display:inline-block;position:absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;z-index:0;margin:0;border-radius:0;border:none;padding:0;}
.label-radio input[type=radio]+span{position:relative;padding-left:32px;display:inline-block;z-index:1;}
.label-radio input[type=radio]+span::before{background:#fff;border:1px solid #3895ff;border-radius:50%;content:'';display: block;height: 20px;left: 0;margin-top: -10px;position: absolute;top: 50%;width: 20px;}
.label-radio input[type=radio]+span::after{background:#3895ff;border-radius:50%;content:'';display:block;height:10px;left: 5px;margin-top: -5px;opacity: 0;position: absolute;top: 50%;width: 10px;}
.label-radio input[type=radio]:checked+span::after{opacity: 1;}

input[type=text],input[type=tel],input[type=password]{border:none;-webkit-appearance:none;appearance:none; border-radius:0;outline:none}
input[type=text],input[type=tel],input[type=password]{font-size:1.4rem;color:#242323;text-align:left; position:relative;-webkit-box-shadow:inset 0 -1px 0 #3895ff;box-shadow:inset 0 -1px 0 #3895ff;padding:4px 0 8px;width:100%;}
input[type=text]:focus,input[type=tel]:focus,input[type=password]:focus{border:none;outline:none;-webkit-box-shadow:inset 0 -2px 0 #3895ff;box-shadow:inset 0 -2px 0 #3895ff;}
input[type=text]::placeholder,input[type=tel]::placeholder{color:#bababa;}/*IE11使えない*/
input[type=text].reqEntry,input[type=tel].reqEntry,input[type=password].reqEntry{-webkit-box-shadow:inset 0 -1px 0 #bababa;box-shadow:inset 0 -1px 0 #bababa;}
input[type=text]:disabled,input[type=tel]:disabled,input[type=password]:disabled{-webkit-box-shadow:0 1px 0 #eee;box-shadow:0 1px 0 #eee;}
input[type=text].err,input[type=tel].err,input[type=password].err{-webkit-box-shadow:0 1px 0 #fd5c5c;box-shadow:0 1px 0 #fd5c5c;}
input[type=text].layout-flex,input[type=tel].layout-flex{width:auto;}
.input-title{display:block;font-size:1.2rem; text-align:left; color:#606060;}
.input-message{display:block;font-size:1.2rem; text-align:left; color:#606060;margin-top:4px;}
.input-message-extend{margin-top: 4px;display: block;border-radius: 8px;border: 1px solid #f4cf00;padding: .8em 16px .7em;background-color: #fff7e5;font-size: 1.2rem;}
.err+.input-message{color:#fd5c5c}

.blkOtp-title::before{content: "";display: inline-block;width: 16px;height: 20px;margin: 0 8px 0 0;background: transparent url(/commontpl/images/ic_otp.svg) no-repeat center center;background-size: contain;position:relative;top:4px;}
.inputOtp{margin:24px 0;}
.otpStyle .blkExp{color:#909090;}
.inputOtp input[type=tel]{width:264px;font-size: 3.2rem;line-height:1.0;text-align:center;max-height:40px;}
.otpStyle .inputOtp input[type=tel]::placeholder{color:#bababa;}
.otpStyle .otp_link,.otpStyle .tokenApp_link{display:none;}

/*------/Form------*/

/*table*/
td{word-wrap:break-word;word-break:break-all;}
.table01{width:100%;border-top:1px solid #bababa;}
.table01 th,.table01 td{padding:12px 8px;border-right:1px solid #bababa;border-bottom:1px solid #bababa;border-left:1px solid #bababa;font-size:1.4rem;}
.table01 th{background:#f7f7f7;font-weight:bold;}
.table01 th a{position:relative;}
.table01 th a:visited{color:#0265cb;}
.table01 .arw{padding-left:1em;}
.table01 .arw::before{top:40%;left:0;}
.table01 .arwUp::before{top:10%;}
.table01 .arwLeft::before,.table01 .arwRight::before{left:0.3em;top:18%;}
.table01 th.thEmp{padding:16px 0;border:none; background-color:#fff;border-bottom: 1px solid #bababa;}

/*paging*/
.paging{padding:16px 0;display: flex; justify-content: space-between;}
.pagingL{width:30%;text-align:left;}
.pagingC{width:40%;text-align:center;}
.pagingR{width:30%;text-align:right;}
.pagingR a::after,.pagingL a::before{content: "";display: inline-block;width: 7px;height: 12px;margin: 0 0 0 12px;background: transparent url(/commontpl/images/ic_link001.svg) no-repeat center center;background-size: contain;}
.pagingL a::before{margin: 0 12px 0 0;transform: rotate(180deg);}

/*layout-card*/
.layout-card dl{padding:16px;border:solid 1px #bababa;border-radius:8px;display:flex;justify-content:space-around;flex-wrap:wrap;}
.layout-card dt{font-weight:bold;width:50%;margin-bottom:16px;}
.layout-card dd{width:50%;margin-bottom:16px;}
.layout-card dt:last-of-type{margin-bottom:0;}
.layout-card dd:last-of-type{margin-bottom:0;}

/*list*/
.list-dot-01{margin-top: 1.25em;}
.list-dot-01 > li {position: relative;margin-top: .75em;padding-left: 20px;}
.list-dot-01 > li::before{content: "";position: absolute;top: .525em;left: 6px;display: block;width: 6px;height: 6px;border-radius: 3px;background-color: #242323;/*width: 5px;height: 5px;border-radius: 2.5px;*/}
.list-dot-s > li {position: relative;padding-left: 12px; font-size: 1.2rem;}
.list-dot-s > li::before {content: "";position: absolute;top: .625em;left: 2px;width: 2px;height: 2px;border-radius: 1px;background-color: #242323;}
.list-dot-s > li + li {margin-top: .75em;}

.list-mark-01,
.list-mark-01 > li + li {margin-top: 1.375em;}
.list-mark-01 > li {position: relative;padding-left: 3em;}
.list-mark-01 > li > .mark:first-child {position: absolute;left: 0;display: block;width: 2.75em;}
.list-mark-01.mark-s > li {padding-left: 1.75em;}
.list-mark-01.mark-s > li > .mark:first-child {width: 1.5em;}
.list-mark-01.mark-l > li {padding-left: 3.75em;}
.list-mark-01.mark-l > li > .mark:first-child {width: 3.5em;}
.list-mark-02 {margin-top: .75em;}
.list-mark-02 > li {position: relative;padding-left: 2em;}
.list-mark-02 > li > .mark:first-child {position: absolute;left: 0;display: block;width: 2em;}
.list-mark-02 > li + li {margin-top: .375em;}

/*color*/
.colRed{color:#fd5c5c;}
.colBlue{color:#2455aa;}

/*tabs*/
#tabs{overflow:hidden;margin:16px 0 0;background:#fff;}
#tabsTitle{display:none;}

/*tabmenu*/
.tabMenu{overflow:hidden;font-weight:bold;}
.tabMenu li{display:inline-block;overflow:hidden;width:100%;height:44px;border-bottom:1px solid #ededed;font-size:1em;white-space:nowrap;
vertical-align:bottom;/*iPhone iPad baseline*/
/*-webkit-box-shadow:inset 0 -1.7em 1.6em -0.7em #e3e3e3;
box-shadow:inset 0 -1.7em 1.6em -0.7em #e3e3e3;
*/}
.tabMenu li a{display:block;position:relative;width:100%;height:44px;padding:0 0 0 12px;text-decoration:none;line-height:44px;color:#242323;font-size:14px;}
.tabMenu li.tabHere a:link,.tabMenu li.tabHere a:visited{background:#364fa1;text-decoration:none;color:#fff;-webkit-box-shadow:none;box-shadow:none;}
.tabMenu .ocUp::before,.tabMenu .ocDown::before{content: "";border:none;display:inline-block;position:absolute;border-top:2px solid #aaa;border-right:2px solid #aaa;width:6px;height:0px;padding:3px;-webkit-transform:rotate(135deg);transform:rotate(135deg);top:19px;right:24px;background:none;border-radius:0;}
.tabMenu .ocUp::before{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}

/*tabcont*/
.tabCont{border-bottom:1px solid #888;}
.tabCont ul li{margin:16px 10px 16px 2.2em;line-height:20px;list-style-type:disc;color:#777;}
.tabCont a:visited{color:#3895ff;}
/*li variation*/
.tabCont ul li.subCat{margin:16px 10px 16px 10px;padding:5px 5px 5px 2px;background:#ededed;border:1px solid #888;text-align:center;font-size:0.94em;list-style-type:none;color:#333;}
.tabCont ul li.bdrT1{padding:15px 0 0 0;border-top:1px dotted #888;}
.tabCont ul li.bdrB1{padding:0 0 15px 0;border-bottom:1px dotted #888;}
.tabCont ul li.listStyleNone{list-style-type:none;}
.tabCont ul li .winOpen{margin-left:-1em;}
/*tab05 #lottery*/
#lottery .subCat{margin-bottom:0;}
#lottery li.col2{margin:0;list-style-type:none;}
#lottery li.col2 li.subCatSub{margin-left:15px;list-style-type:none;font-weight:bold;}
#lottery li.col2Link{margin-top:0;}

/*clearfix*/
.cfx:before,.cfx:after{content:"";display:block;overflow:hidden;font-size:0;height:0;}
.cfx:after{clear:both;}

/*sub_footer*/
#sub_footer{margin-bottom:16px;}
#sub_footer .blk{padding:16px; background-color:#fff;}
#sub_footer .toIndex{float:left;}
#sub_footer .toPageTop{float:right;}
#sub_footer .blk::before,
#sub_footer .blk::after{content:"";display:block;overflow:hidden;font-size:0;height:0;}
#sub_footer .blk::after{clear:both;}

/*ftrContainer*/
#ftrContainer{padding:56px 16px;background-color:#fff;color:#242323;font-size:1.2rem;}
#ftrContainer .ftrL{text-align:center;}
#ftrContainer .ftrL a{display:inline-block;padding:0 12px 0 6px; position:relative;text-align:left;}
#ftrContainer .ftrL a::after{content:"";display:block;width:1px;height:12px;position:absolute;top:50%;right:0;margin-top:-6px;border-right:solid 1px #242323;}
#ftrContainer .ftrL a:first-of-type{padding-left:0;}
#ftrContainer .ftrL a:last-of-type{padding-right:0; border-right:none;}
#ftrContainer .ftrL a:last-of-type::after{display:none;}
#ftrContainer .ftrL a:link,#ftrContainer .ftrL a:visited{color:#242323;}
#ftrContainer .ftrL a:hover,#ftrContainer .ftrL a:active{color:#909090;}
#ftrContainer .ftrC{text-align:center;margin-top:40px;}
#ftrContainer .ftrC p.first{margin-bottom:26px;}
#ftrContainer .ftrC p.last{margin-bottom:32px;font-size:1.1rem;}
#ftrContainer .ftrR{text-align:center;font-size:1.1rem;}
#ftrContainer .logoutWrap{text-align:center;margin-top:36px;}
#ftrContainer .logoutWrap a.logout{width:auto; margin:0; padding:8px 16px;border:1px solid #3895ff;line-height:30px;color:#3895ff;border-radius:8px;}
