@charset "shift_jis";

#login .blk{padding-right: 48px;padding-left: 48px;}
#login .blkCont:last-of-type{padding-bottom: 0;}
#login .blkCont.layout-form.layout-form-login.layout-form-login-noborder{padding: 0;margin-top: 24px;margin-bottom: 0;}
#login #idPw{height: 36px;}
#login .loginNote .blk .blkCont:only-of-type{padding: 0;}
#login .loginNote .blkTitle{padding-top: 0;}
#login .loginNote .blk+.blk .blkTitle{padding-top: 24px;}

/*note*/
#login .note.red{font-size:12px;margin-top:-24px;}

#loginInfomation .blkCont {padding-top: 0;}
#loginInfomation .box-attention-01 > dd .date{display: inline;}
#loginInfomation:empty+.blk .blkCont{padding-top:0;}

/*NBG52700G11*/
#imgUpload #inContainer{width:auto;}

/*NBPG1J01G11,NBPG1J01G16,NBPG1J03G11,NBPG1J03G14,NBPG1J03G16*/
#login.url-deposit  .pt-0{padding-top:0;}
#login.url-deposit .caution{font-size:1.2rem;}
