@charset "shift_jis";

#login .blk{padding-right: 24px;padding-left: 24px;}
#login .blkCont{padding: 24px 0;}
#login .blkCont.layout-form.layout-form-login.layout-form-login-noborder{padding-bottom: 48px;}
#login .loginNote .blkCont+.blkCont{padding-top: 0;}
#login .loginNote .blkTitle{padding-top: 24px;}
#login .loginNote .blk+.blk .blkTitle{padding-top: 0;}

/*note*/
#login .note.red{border:none;background-color:#ffe5e5;background-image:url(/commontpl/images/ic_error.png);background-position:16px center;background-size:24px;font-size:11px;}

.pwLink{display: inline-block;}

#loginInfomation:empty{display: none;}
#loginInfomation .blkCont{padding-bottom:0;}
#loginInfomation .box-attention-01 {border-radius: 8px;padding: 1.25em 16px 1.25em 24px;background-color: #ffe5e5;text-align: center;}
#loginInfomation .box-attention-01 > dt {padding-left: 27px;background-image: url(/commontpl/images/attention_ic003.svg);background-repeat: no-repeat;background-position: 0 .1em;background-size: 19px 19px;font-weight: bold;display: inline-block;}
#loginInfomation .box-attention-01 > dd {margin-top: .875em; text-align:left;}
#loginInfomation .box-attention-01 > dd .date{display: block;}
#loginInfomation dd a {color: #242323;transition: color 120ms;}
#loginInfomation dd a:hover,
#loginInfomation dd a:focus,
#loginInfomation dd a:active {color: #909090;}
#loginInfomation+.blk .blkCont{padding-bottom: 0;}

@media screen and (max-width: 767px) {
	#loginInfomation .box-attention-01 {padding-left: 16px;padding-right: 12px;}
	#loginInfomation .box-attention-01 > dt {padding-left: 24px;}
}

.loginNote .h201{white-space: normal;}

/*NBG52700G11*/
#imgUpload .titleL{padding:24px 16px;width:auto;float:none;}
#imgUpload select{width:100%;border-radius: 0;border:none;background-color: #fff;webkit-box-shadow:inset 0 -1px 0 #3895ff;box-shadow:inset 0 -1px 0 #3895ff;}
#imgUpload select.reqEntry{-webkit-box-shadow:inset 0 -1px 0 #bababa;box-shadow:inset 0 -1px 0 #bababa;}
#imgUpload .select-wrap{position:relative;display:inline-block;}
#imgUpload .select-wrap::before,
#imgUpload .select-wrap::after{content:"";position:absolute;top:50%;right:5px;display:block;width:9px;height:2px;margin-top:-1px;border-radius:1px;background-color:#909090;transform: rotate(-45deg);}
#imgUpload .select-wrap::before{transform: rotate(45deg);margin-right: 5px;}

/*NBGAF120GWR */
#loginInfomation.info_blue {background-color:#e5f1ff; padding: 12px 24px 12px 40px;border-radius: 8px;background-image:url(/commontpl/images/category/fcd/fcd_ic001.png); background-repeat:no-repeat;background-size:20px 20px; background-position:12px 12px;font-size:14px;}
#loginInfomation.info_blue .blkCont{padding-top: 16px;}

/*NBPG1J01G11,NBPG1J01G16,NBPG1J03G11,NBPG1J03G14,NBPG1J03G16*/
#login.url-deposit .mt-08{margin-top:8px}
#login.url-deposit .linkArea{margin-top:36px;}
#login.url-deposit .caution{color:#242323;font-weight:normal;border:none;font-size:1.1rem;}
#login.url-deposit .wrap-input-flex{position:relative;}
#login.url-deposit .wrap-input-flex input{padding:4px 1.5em 8px 0;}
#login.url-deposit .wrap-input-flex span{position:absolute;top:0;right:0;}
#login.url-deposit .numLarge{font-size:1.8rem;line-height:1;}
#login.url-deposit .unit{font-size:1.4rem;margin-left:2px;}
#login.url-deposit .info-area{margin-bottom:36px;}
#login.url-deposit .info-area dt{font-size:1.2rem;color:#606060;}
#login.url-deposit .info-area dt:not(:first-child){margin-top:24px;}
#login.url-deposit .info-area dd{padding-bottom:8px; border-bottom:1px solid #eee;min-height:calc(1em + 16px);}

/*NBGFC302G13,NBGFC302G14 */
.gaikaLogin .blkCont.layout-form.layout-form-login.layout-form-login-noborder{padding-top:0;margin-top:24px;margin-bottom:0;}
.gaikaLogin .caution{border:none;color:#242323;font-weight:normal;}
.gaikaLogin .caution > p + p{margin-top:16px;}
.gaikaLogin .layout-form .wrap-input-pw .visualization{width:25px;height:25px;}
.gaikaLogin .loginTxt{font-size:1.4rem;}
.gaikaLogin .listLink > li{margin-top:16px;}
.gaikaLogin .listLink > li:first-of-type{margin-top:0;}
